.container{ 
    padding: 10px ;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-size: large;
}

input[type = email],
input[type = password]
{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: large;
}

.submit{
    background-color: #4CAF50;
    color: white;
    padding:15px;
    border: none;
    width: 100%;
}