.container {
    padding: 40px;
    background-color: lightblue;
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.container1 {
    padding: 9px;
    border: none;
    font-size: large;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: large;
}

.register {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    width: 103%;
}